body {
	box-sizing: border-box;
	font-size: .75em;
	width: 90vw;
	margin: 0 auto 5vh auto;
	max-width: 480px; /*placeholder*/
	background-color: #e6e6e6;
	border: 1px solid grey;
}

.basic-anchor {
	text-decoration: none;
	color: inherit;
}

.skinny {
	width: 80%;
	margin: 3.5vh auto;
}

.full {
	width: 90%;
	margin: 3.5vh auto;
}

.header-coloring {
	background-color: #00cc44;
	border-bottom: 5px solid #009933;
	position: relative;
	height: 20vh;
}

.header-txt {
	color: white;
	position: absolute;
	left: 5px;
	bottom: 5px;
	margin: 0;
}

.navbar {
	background-color: #4d4d4d;
	border-bottom: 3px solid #333333;
	text-align: right;
	height: 30px;
	line-height: 30px;
}

.navbar-link {
	color: white;
	vertical-align: middle;
	margin: 0 1vw;
}

.line-break {
	display: inline-block;
	width: 90%;
	height: 2px;
	background-color: #b3b3b3;
}

.section-header {
	padding: 0 0 3px 1vh;
	border-bottom: 1px solid #b3b3b3;
}

.article-header {
	border-bottom: none;
	padding: 0;
}

.main-content {
	width: 80%;
	margin: 3.5vh auto;
	line-height: 1.5em;
}

.text-link {
	color: orange;
}

.tech-table { }

.tech-table td, .tech-table th {
	box-sizing: initial;
	padding: 5px;
	border: 1px solid #808080;
}

.tech-table th {
	background-color: #b3b3b3
}

.button-basic {
	background-color: #3385ff;
	color: white;
	padding: 5px 15px;
	border: none;
}

.code-snippet {
	font-family: Courier, monospace;
	background-color: #b3b3b3;
	padding: 2.5vh;
}

img {
	width: 100%;
}

.ol-basic {
	-webkit-padding-start: 3.5vh;
}

.byline {
	color: grey;
	margin-bottom: 5vh;
}

.strikethrough-line1 {
	display: inline-block;
	width: 5vh;
	height: 50%;
	border-top: 1px solid #b3b3b3;
}

.strikethrough-txt {
	display: inline-block;
	color: #b3b3b3;
	vertical-align: center;
	top: 50%;
}

.strikethrough-line2 {
	display: inline-block;
	height: 50%;
	width: 100%;
	border-top: 1px solid #b3b3b3;
}

form {
}

.entry_field {
	display: inline-block;
	position: relative;
	height: 30px;
	text-align: right;
	width: 100%;
}

.entry_field label {
	margin: 0px 2.5vh;
}

.input_field {
	width: 70%;
	border: 1px solid #cccccc;
	border-radius: 5px;
	border-style: solid;
	padding: 5px;
}

.formatted-textarea {
	display: block;
	height: 15vh;
}

.comment-submit {
	font-size: .9em;
	display: block;
	color: white;
	background-color: #990000;
	border: none;
	padding: 10px 0;
}

.avatar {
	display: block;
}

.user-info {
	float: left;
}

.sub-comments {
	border-left: 2px solid #b3b3b3;
}