body {
	box-sizing: border-box;
	font-size: .9em;
	width: 90vw;
	background-color: #737373;
}

.basic-anchor {
	text-decoration: none;
	color: inherit;
}

.header-coloring {
	background-color: #00b300;
	border-bottom: 3px solid #008000;
	position: relative;
}

.header-txt {
	color: white;
	position: absolute;
	left: 5px;
	bottom: 5px;
}

.navbar {
	background-color: #333333;
	border-bottom: #262626;
	text-align: right;
}

.navbar-link {

}

.article-header {

}

.section-header {
	width: 90%;
	border-bottom: 1px solid lightgrey;
}

.main-content {
	width: 90vw;
}

.tech-table {

}

.code-snippet

.img-container

.byline {

	color: grey;
	width: 90%;
}

user_comments

	comment_block